.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    z-index: 1000;
    right: 60px;
    bottom: 280px;
    font-size: 13px;
    background-color: rgba(66, 66, 66, 0.8);
}

div {
    display: block;
}

.ez3d {
    box-sizing: border-box;
}

.ez3d-content {
    flex-grow: 1;
    display: block;
    box-sizing: border-box;
    outline: 0;
    overflow-y: auto;
    padding: 12px;
    /* box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); */
}

.ez3d-button-selected {
    background-color: #F0F0F0;
}

#editor {
    display: flex;
    max-width: 1080px;
    margin: 20px auto;
    border: 1px solid #dadde6;
    border-radius: 4px;
    background-color: #fff;
    /* color: #FAFAFF;
    caret-color: #FAFAFF; */
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
    font-family: 'Arial', sans-serif;
}

#editor::selection {
    background-color: #555;
    color: #fff;
}

.ez3d-actionbar {
    height: 720px;
    max-width: 48px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #474747;
}

.ez3d-button {
    font-size: 1.1em;
    background-color: #474747; /* Button background color */
    color: #c7c7c7;
    padding: 10px 12px;
    border: none; 
    cursor: pointer; 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    /*box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2), 0 3px 5px rgba(0, 0, 0, 0.3); *//* Button 3D Effect */
    border-radius: 3px;
}

.ez3d-button:hover {
    background-color: #5d5d5d;
    border-radius: 4px;
}

.ez3d-button label {
    font-size: 0.8em;
}

span.divider {
    height:1.5em;
    margin-top: .5em;
    margin-left: 10px;
    margin-right: 14px;
    border-left:1px solid #888;;
}

.wrapper-three-scene {
    display: inline-flex;
    align-items: center;
}

.three-scene {
    clear: both;
    position: relative;
    margin: auto;
}

.three-scene-btn-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.three-scene-btn {
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    user-select: none;
}

#three-scene-btn-bg {
    height: 40px;
}

.ez3d-three-scene {
    clear: both;
    position: relative;
    margin: auto;
}

/* Text Color DropDown */
.dropdown {
    position: relative;
    display: flex; 
}

.Menu-dropdown {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -1px;
    left: 100%; 
    white-space: nowrap;
    margin-left: 6px;
    border-radius: 2px;
    z-index: 100; 
}

.Menu-dropdown button {
    margin-right:1px;
    color: #fff;
    text-decoration: none; 
    display: block;
    background-color: #5d5d5d;
    width: 100%; 
    box-sizing: border-box; 
}

.Menu-dropdown .ez3d-button:hover {
    background-color: #474747;
}

.ez3d-icons {
    width: 20px;
    height: 20px;
}

.ez3d-icons-type {
    width: 18px;
    height: 18px;
}

/*-------------*/
/*    Modal    */
/*-------------*/
.three-file-modal {
    position: fixed; 
    z-index: 1; 
    left: 20%;
    top: 30%;
    
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.three-file-modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.three-file-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.three-file-close-button:hover,
.three-file-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.three-file-file-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.three-file-file-upload {
    width: 45%;
}

.three-file-modal label {
    display: block;
}

.three-file-modal input[type="file"] {
    width: 100%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
  
/* Close Button */
.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  


/* output */
#text-output {
    margin-top: 20px;
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.4rem;
    background: #333;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.html-output {
    max-width: 720px;
    overflow-x: none;
    padding: 10px;
    border: 1px solid tomato;
    margin: 0 auto;
    min-height: 200px;
    white-space: normal;
}