.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #222;
    padding: 5px;
    border-radius: 4px;
    z-index: 1000;
    right: 60px;
    bottom: 300px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.8);
}

.mogl3d {
    /* border: 1px solid rgba(10, 10, 10, 0.1); */
    box-sizing: border-box;
}

.mogl3d-content {
    box-sizing: border-box;
    min-height: 420px;
    height: auto;
    outline: 0;
    overflow-y: auto;
    padding: 12px;
    /* box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); */
}

.mogl3d-button-selected {
    background-color: #F0F0F0;
}

#editor {
    display: flex;
    max-width: 1080px;
    margin: 20px auto;
    border: 1px solid #dadde6; /* 에디터 테두리 */
    border-radius: 4px;
    background-color: #fff; /* 에디터 배경색 */
    /* color: #FAFAFF;
    caret-color: #FAFAFF; */
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */ /* 3D 효과를 위한 그림자 */
    font-family: 'Arial', sans-serif;
}

#editor::selection {
    background-color: #555;
    color: #fff;
}

.mogl3d-actionbar {
    min-height: 720px;
    max-width: 48px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* color: white; */
    background: #474747;
    /*background: linear-gradient(to bottom, #93B5B5, #C8DAD3); */ /* 그라데이션 효과 */
    /*box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.3); */ /* 내부 그림자와 외부 그림자로 3D 느낌 생성 */
}

.mogl3d-button {
    font-size: 1.2em;
    background-color: #474747; /* 버튼 배경색 */
    color: #c7c7c7; /* 버튼 텍스트 색상 */
    padding: 8px 12px; /* 버튼 안쪽 여백 */
    margin: 1px;
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); /* 텍스트에 그림자 추가 */
    /*box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2), 0 3px 5px rgba(0, 0, 0, 0.3); *//* 버튼의 3D 효과 */
    border-radius: 3px;
}

.mogl3d-button[title='Load 3D Model'] {
    padding: 10px 0;
}

.mogl3d-button:hover {
    background-color: #5d5d5d; /* 호버 상태의 버튼 배경색 */
    border-radius: 4px;
}

span.divider {
    height:1.5em;
    margin-top: .5em;
    margin-left: 10px;
    margin-right: 14px;
    border-left:1px solid #888;;
}

.three-scene {
    /* float: left; */
    border: 1px solid #555; /* 씬 테두리 */
    clear: both;
    /* display: inline-block; */
    position: relative;
    width: 100%; /* 캔버스 크기에 맞게 조정 */
    height: 100%; /* 캔버스 크기에 맞게 조정 */
}

.three-scene-btn-wrapper {
    /* border: 1px solid red; */
    position: absolute;
    
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100; /* 캔버스 위에 표시되도록 z-index 설정 */
}

.three-scene-btn {
    /* padding: 5px 10px; */
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.8); /* 버튼 배경 반투명하게 설정 */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto; /* 색상 선택기 크기 자동 조정 */
}

#three-scene-btn-bg {
    height: 40px;
}

/* Text Color DropDown */
/* 드롭다운 버튼을 포함하는 컨테이너에 대한 스타일 */
.dropdown {
    position: relative; /* 상대적 위치 설정 */
    display: flex; /* 인라인-블록 요소로 표시 */
  }

/* 드롭다운 메뉴 스타일 */
.Menu-dropdown {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -1px;
    left: 100%; /* 버튼 바로 옆에 위치*/
    white-space: nowrap;
    /* width: 90%; */
    margin-left: 6px;
    /* border: 1px solid #474747; */
    border-radius: 2px;
    z-index: 100; /* 다른 요소들 위에 표시 */
}
  
/* 드롭다운 메뉴 버튼 스타일 */
.Menu-dropdown button {
    color: #fff; /* 텍스트 색상 */
    text-decoration: none; /* 텍스트 꾸미기 제거 */
    display: block;
    /* background: none; */
    background-color: #5d5d5d;
    width: 100%; /* 전체 너비 */
    box-sizing: border-box; /* 박스 모델 설정 */
}
  
/* 드롭다운 메뉴 버튼 호버 스타일 */
.Menu-dropdown .mogl3d-button:hover {
    background-color: #474747;
}

.mogl3d-icons {
    width: 24px;
    height: 24px;
}

.mogl3d-icons-type {
    width: 24px;
    height: 24px;
}

#FileMenu-dropdown button {
    padding: 4px 8px;
}

[title="Font Color"] {
    padding: 6px 8px;
}

[title="Highlight Text"] {
    /* margin-left: 1px; */
    padding: 6px 8px;
    
}

[title="Remove Highlight"] {
    /* margin-left: 1px; */
    padding: 6px 8px;
}

[title="TextColorDropDown"] {
    padding: 2px 5px;
}

[title="TextColorDropDown"]::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    transform: translate(-60%, -60%) rotate(270deg);
}

[title="TextAlignDropDown"] {
    padding: 7px 12px;
}

[title="TextAlignDropDown"]::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    transform: translate(-60%, -60%) rotate(270deg);
}

[title="FontDropDown"] {
    padding: 3px 5px;
}

[title="FilesDropDown"] {
    padding: 4px 6px;
}

[title="FilesDropDown"]::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    transform: translate(-50%, -50%) rotate(270deg);
}

[title="Italic"] {
    padding: 6px 14px;
}

[title="Underline"],
[title="Bold"],
[title="Strike-through"] {
    padding: 6px 10px;
}

[title="Paragraph"],
[title="Ordered List"] {
    padding: 6px 12px;
}

[title="Horizontal Line"],
[title="Quote"] {
    padding: 6px 8px;
}

[title="Unordered List"] {
    padding: 6px 14px;
}

[title="Image"] img {
    margin-top: 3px;
    margin-bottom: 1px;
}

[title="files"] img {
    margin-top: 3px;
    margin-bottom: 1px;
}

[title="Video"] img {
    margin-top: 4px;
}

[title="Load 3D Model"] img {
    margin-top: 4px;
}

[title="3D Scene Editor"] {
    margin-top:6px;
    padding: 8px;
}

[title="Code"] {
    padding: 8px 4px;
}

/* 모달 스타일 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* 닫기 버튼 스타일 */
.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  


/* output */
#text-output {
    margin-top: 20px;
    padding: 10px 20px;
    background: #333;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}